@use "@/styles/variables" as *;

.wrapper {
  display: grid;
  gap: 24px;
  padding: 24px;
  grid-template-columns: 1fr 1fr;

  .btn {
    margin-top: 16px;
  }
}

.title {
  margin-top: 0;
}

.brand {
  margin-bottom: 8px;
  color: $muted;
}

.price {
  color: $accent;
  font-size: 22px;
  font-weight: 800;
}

.descTitle {
  margin-top: 16px;
  margin-bottom: 8px;
}
